  
  .head{
    padding-left: 3%;
  }
  
  
  
  /* footer */

     
   .Subscribe{
    text-align: center;
    background-color:#00224f;
    color: white;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 7%;
}
 #save{
    padding-top: 4%;
 }
 hr{
    margin-top: 5%;
    
 }
